@media only screen and (max-width: 480px) {

    header{
        background-color:darkblue;
        height: 100px;
    }

    nav{
        background-color: rgba(33, 216, 201, 0.767);
        height: 100px;
    }

    .main{
        background-color: rgb(42, 111, 189);
        height: 100px;
    }

    footer{
        background-color: rgb(9, 8, 70);
        height: 100px;
    }

}